<div class="row mt-1 p-3">

    <div class="mt-1">
        <h6>Horário da manhã</h6>
        <div class="row text-center">
            <div class="col-2 time unavailable">8:00</div>
            <div class="col-2 time available hour-selected">8:30</div>
            <div class="col-2 time unavailable">9:00</div>
            <div class="col-2 time unavailable">9:30</div>
            <div class="col-2 time available">10:00</div>
            <div class="col-2 time available">10:30</div>
            <div class="col-2 time unavailable">11:00</div>
            <div class="col-2 time available">11:30</div>
        </div>
    </div>

    <div class="mt-4">
        <h6>Horário da tarde</h6>
        <div class="row text-center">
            <div class="col-2 time available">14:00</div>
            <div class="col-2 time available">14:30</div>
            <div class="col-2 time unavailable">15:00</div>
            <div class="col-2 time unavailable">15:30</div>
            <div class="col-2 time available">16:00</div>
            <div class="col-2 time available">16:30</div>
            <div class="col-2 time unavailable">17:00</div>
            <div class="col-2 time available">17:30</div>
        </div>
    </div>


</div>