<form class="p-2">
    <!-- Area Selection -->
    <div class="my-3">
        <label class="form-label fw-bold ">Selecione uma área</label>
        <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="1">Area 1</option>
            <option value="2">Area 2</option>
            <option value="3">Area 3</option>
        </select>
    </div>

    <!-- Professional Type -->
    <div class="my-3">
        <label class="form-label fw-bold">Selecione um profissional</label>
        <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="1">Profissional 1</option>
            <option value="2">Profissional 2</option>
            <option value="3">Profissional 3</option>
        </select>
    </div>

    <!-- Appointment Type -->
    <div class="my-3">
        <label class="form-label fw-bold">Selecione tipo de atendimento</label>
        <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <option value="1">Particular</option>
            <option value="2">Convênio 1</option>
            <option value="3">Convênio 2</option>
        </select>
    </div>


    <!-- Client Selection -->
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label fw-bold">Nome do cliente</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
        <small>Confirmar o telefone do cliente: (99) 9-9999-9999</small>
    </div>


    <!-- Comment Section -->
    <div class="mb-3">
        <label for="commentary" class="form-label fw-bold">Comentários</label>
        <textarea class="form-control" id="commentary" rows="3"></textarea>
    </div>

</form>