<div class="calendar text-center mt-2 p-3">

    <!-- Month/year selector -->  
    <div class="row">
        <div class="col fw-bold caret"><img src="/prototype/svg/caret-left-fill.svg" alt="left caret" width="20" height="20"></div>
        <div class="col fw-bold year-month"> Março/2026 </div>
        <div class="col fw-bold caret"><img src="/prototype/svg/caret-right-fill.svg" alt="right caret" width="20" height="20"></div>
    </div>

    <!-- Day's name from the week -->
    <div class="row my-3">
        <div class="col fw-bold week-day">Dom</div>
        <div class="col fw-bold week-day">Seg</div>
        <div class="col fw-bold week-day">Ter</div>
        <div class="col fw-bold week-day">Qua</div>
        <div class="col fw-bold week-day">Qui</div>
        <div class="col fw-bold week-day">Sex</div>
        <div class="col fw-bold week-day">Sab</div>
    </div>

    <!-- Actual days -->
    <div class="row">
        <div class="col day unavailable">1</div>
        <div class="col day unavailable">2</div>
        <div class="col day day-selected">3</div>
        <div class="col day available">4</div>
        <div class="col day unavailable">5</div>
        <div class="col day unavailable">6</div>
        <div class="col day unavailable">7</div>
    </div>  

    <div class="row">
        <div class="col day unavailable">8</div>
        <div class="col day available">9</div>
        <div class="col day available">10</div>
        <div class="col day available">11</div>
        <div class="col day available">12</div>
        <div class="col day available">13</div>
        <div class="col day unavailable">14</div>
    </div>  

    <div class="row">
        <div class="col day unavailable">15</div>
        <div class="col day available">16</div>
        <div class="col day available">17</div>
        <div class="col day available">18</div>
        <div class="col day available">19</div>
        <div class="col day unavailable">20</div>
        <div class="col day unavailable">21</div>
    </div>  

    <div class="row">
        <div class="col day unavailable">22</div>
        <div class="col day unavailable">23</div>
        <div class="col day unavailable">24</div>
        <div class="col day available">25</div>
        <div class="col day available">26</div>
        <div class="col day available">27</div>
        <div class="col day unavailable">28</div>
    </div>  

    <div class="row">
        <div class="col day unavailable">29</div>
        <div class="col day unavailable">30</div>
        <div class="col day available">31</div>
        <div class="col day"></div>
        <div class="col day"></div>
        <div class="col day"></div>
        <div class="col day"></div>
    </div>  

</div>